pegasus-wms.api==5.0.0
git+https://github.com/isi-vista/saga-tools.git@master#egg=saga-tools
PyYAML>=5.4

#Pegasus Requirement - Needed to run the submit script
gitpython>=3.1.12

# core requirements
attrs==19.2.0
vistautils==0.21.0
immutablecollections==0.10.0
networkx==2.3
importlib-resources==1.4.0

# extras for development
black==24.3.0
pytest==5.2.0
pytest-custom_exit_code
coverage==4.5.4
pytest-cov==2.8.0
pytest-benchmark==3.2.2
pylint==2.3.1
flake8==3.7.8
mypy==0.701
isort==4.3.21
towncrier
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
